<%= render 'book', user: @user %>

 <div class="col-md-8 offset-md-1">
   <h2>Book detail</h2>
   <table class="table">
     <tbody>
       <tr>
         <td>
           <a href="<%= user_path(@user) %>">
           　<%= image_tag @user.get_profile_image(100,100) %> <br>
           　<%= @user.name %>
           </a>
         </td>
         <td>
           <a><%= @book.title %></a>
         </td>
         <td>
           <%= @book.body %>
          </td>

         <td>
           <a class="btn-sm btn-success" href="/books/<%= @book.id %>/edit">
             Edit
           </a>
         </td>
         <td>
           <a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger" rel="nofollow" data-method="delete" href="/books/<%= @book.id %>">Destroy</a>
         </td>
       </tr>
     </tbody>
   </table>



 </div>

</div>