<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <script src="https://kit.fontawesome.com/52ec04519a.js" crossorigin="anonymous"></script>
　　　<nav class="navbar navar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>

            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
　　　　　　　<ul class="navbar-nav ml-auto">


               <% if user_signed_in? %>
                <li class="nav-item">
                 <a class="nav-link text-light" href="<%= user_path(current_user.id) %>">
                   <i class="fas fa-home"></i>
                   Home
                 </a>
                </li>

                <li class="nav-item">
                 <a class="nav-link text-light" href="/users">
                   <i class="fas fa-users"></i>
                   Users
                  </a>
                </li>

                <li class="nav-item">
                 <a class="nav-link text-light" href="/books">
                   <i class="fas fa-book-open"></i>
                   Books
                  </a>
                </li>

                <li class="nav-item">
                 <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">
                   <i class="fas fa-sign-out-alt"></i>
                   Log out
                 </a>
                </li>
                <% else %>
                 <li class="nav-item">
                 <a class="nav-link text-light" href="/">
                   <i class="fas fa-home"></i>
                   Home
                 </a>
                </li>

                <li class="nav-item">
                 <a class="nav-link text-light" href="/home/about">
                   <i class="fas fa-link"></i>
                   About
                 </a>
                </li>

                <li class="nav-item">
                 <a class="nav-link text-light" href="/users/sign_up">
                   <i class="fas fa-user-plus"></i>
                   Sign up
                 </a>
                </li>

                <li class="nav-item">
                 <a class="nav-link text-light" href="/users/sign_in">
                   <i class="fas fa-sign-in-alt"></i>
                   Log in
                 </a>
                </li>
                <% end %>

              </ul>
            </nav>
         </div>
        </div>
      </nav>
    </header>

  <main class="mb-auto">
    <%= flash[:notice] %>
    <%= yield %>
  </main>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>
