<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
　　　<nav class="navbar navar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>

            <!--flex-rowで横向きに-->

          <ul class="navbar-nav ml-auto flex-row">

           <li class="nav-item">
            <a class="nav-link text-light" href="/">Home</a>
           </li>
           <% if user_signed_in? %>
            <li class="nav-item">
             <a class="nav-link text-light" href="/users">Users</a>
            </li>

            <li class="nav-item">
             <a class="nav-link text-light" href="/books">Books</a>
            </li>
           <!--仮-->
             <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
             </li>
           <% else %>

            <li class="nav-item">
             <a class="nav-link text-light" href="/homes/about">About</a>
            </li>

            <li class="nav-item">
             <a class="nav-link text-light" href="/users/sign_up">Sign up</a>
            </li>

            <li class="nav-item">
             <a class="nav-link text-light" href="/users/sign_in">Log in</a>
            </li>
           <% end %>

          </ul>
         </div>
        </div>
      </nav>
    </header>

  <main class="mb-auto">
    <%= yield %>
  </main>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>
